body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-left{
    text-align: left;
    float: left;
}

#bottom-left {
    text-align: left;
    float: left;
}

#top-right{
    text-align: right;
    float: right;
}

#bottom-right {
    text-align: right;
    float: right;
}

img {
    max-width: 100%;
    height: auto;
}
